*{
margin: 0;
padding: 0;
box-sizing: border-box;


}

b



.name {
color: chocolate;
font-size: 80px;
margin: 200;
border: 2px solid blue;
text-align:  center;
}

.text h2 {
    margin: 100px;
    font-size: 40px;
    text-align:  center;

}

.text p {
    font-size: 22px;
    margin: 100px;
    text-align:  center;

}

.social {
    border: 2px;
    padding: 60px;
    text-align: center;

}

.social a {
    text-decoration: none;
    color: black;
}
.social_img {
    width: 70px;
}